body {
	background: linear-gradient(220.55deg, #5EE2FF 0%, #00576A 100%);
	overflow: hidden;
	overflow-x: hidden;
}

.all {
	display: flex;
	flex-wrap: wrap;
}

.contenido {
	height: 950px;
	width: 950px;
	background-color: transparent;
	margin: auto;
	flex-basis: 20em;
	flex-grow: 1;
}
.cont-foto {
	display: block;
	text-align: center;
	background: transparent;
	margin: auto;

}

.foto {
	position: relative;
	height: 100px;
	border-radius: 50%;
	border: 3px solid #fff;
	margin: auto;

}

.cont-botones {
	background: #;
	margin: auto;
}

.botones {
	background: inherit;
	list-style: none;
	font-size: 71px;
	text-align: center;
	min-width: 100px;
	min-height: 200px;
}

.botones a{
	font-family: Fredoka,sans-serif;
	font-size: 65px;
	border-bottom: 10px solid transparent;
	transition-property: font-size border-bottom;
	transition-duration: 1s;
	transition-timing-function: ease-out;
	text-decoration: none;
	color: white;
	margin: auto;

}



.botones a:hover {
	font-size: 85px;
	border-bottom: 4px solid #000;
}

.burbuja {
	background-color: inherit;
	opacity: .3;
	border-radius: 50%;

	position: absolute;
	bottom: -10%;


	animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1) {
	width: 80px;
	height: 80px;
	left: 5%;
	animation-duration: 3s;
	animation-delay: 3s;
}

.burbuja:nth-child(2) {
	width: 100px;
	height: 100px;
	left: 35%;
	animation-duration: 3.2s;
	animation-delay: 5s;
}

.burbuja:nth-child(3) {
	width: 100px;
	height: 100px;
	left: 55%;
	animation-duration: 3.2s;
	animation-delay: 7s;
}


.burbuja:nth-child(4) {
	width: 100px;
	height: 100px;
	left: 75%;
	animation-duration: 3.2s;
	animation-delay: 9s;
}

.burbuja:nth-child(4) {
	width: 80px;
	height: 80px;
	left: 85%;
	animation-duration: 3.2s;
	animation-delay: 11s;
}

::-webkit-scrollbar 
	{
	width: 15px;
	display: none;
	}

html::-webkit-scrollbar 
	{
	width: 15px;
		
	}

html::-webkit-scrollbar-thumb
	{

		background: inherit;
		border-radius: 10px;
	}



@keyframes burbujas{
	0% {
		bottom: 0px;
		opacity: 0;
	}

	5% {
		background-color: #fff;
	}

	50% {
		opacity: .4;
	}

	100% {
		bottom: 100vh;
		opacity: 0;
	}


}

@media screen and (max-width: 768px) {
	* {
		overflow: visible;
		overflow-x: hidden;
	}

	.all {
		align-content: center;

	}

	.botones a {
		font-size: 61px;
	}

	.botones a:hover {
		font-size:70px ;
	}


}

@media screen and (max-width: 360px) {
	* {
		overflow: visible;
		overflow-x: hidden;
	}

	.all {
		align-content: center;
	}

	.botones a {
		font-size: 41px;
	}

	.botones a:hover {
		font-size: 51px;
	}


}

@media screen and (max-height: 850px) {

	.all {
		align-content: center;
	}

	body {
		overflow: visible;
		overflow-x: hidden;
	}



	html::-webkit-scrollbar 
	{
	width: 15px;
		
	}

	html::-webkit-scrollbar-thumb
	{
		position: absolute;
		background: #fff;
		border-radius: 10px;
	}




}